      body {
          
          font-family: "Lato", sans-serif;
        margin: 0;
          
      }
    
      h1 {
    margin: auto;
    font-size: 21px;
    text-align: center;
    font-weight: 300;          
      }
    
      @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
      
     .front, .back /* divs that contain strategies */ {        
    display: flex;
    background: white;
    border-radius: 15px; /* was 6 */
    margin: 100px auto;
/*    padding: 0 30px; messing up centering so made the width of front and back bigger instead */
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.29);
     }
      
      
      /* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
    margin: auto;
    position: relative;
    
}

      .flip-container .flipper {
		transform-origin: 100% 213.5px; /* half of height */
	}
      
      .flip-container:hover .flipper {
		transform: rotateX(-180deg);
	}

.flip-container, .front, .back {
    width: 480px; /* was 400 */
    height: 350px;
    position: relative;
    top: 80px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
    
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: -60px; /* I found the problem! this was 0 which made the animation not flip where it was but move up - 60px fixed it */
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateX(0deg);
    
}

/* back, initially hidden pane */
.back {
	transform: rotateX(180deg);
}
      
      .refresh {
          text-align: center;
          border: 1.5px solid #00d1d9;
          padding-top: 6px;
    width: 45px;
	height: 38px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
            margin: auto;
          display: block;
      }

      
      div.refresh-container {
          
                position: relative; /* go underneath card */
          top: 170px; /* was 150 */
          width: 400px; /* same as card */
        margin: auto;
/*          background-color: red;*/
          
      }
      
      
      p {
          
          text-align: center;
          font-weight: 300;
          padding-bottom: 5px;
          
      }
      
      .main {
          
          margin: auto;
          display: block;
          width: 500px;
          
      }
      
      /* spin on refresh http://jsfiddle.net/uevfyghr/1/ */
      
      .fa-spin-hover:hover {
    animation: fa-spin 2s infinite linear;
}
@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
      
                  footer {
          
            color: white;
          position: relative;
          top: 210px;
                      background-color: black;
          height: 100px;
      }
      
      footer p {
          
          font-size: 0.8em;
          position: relative;
          top: 38px;
          
      }
      
      a {
          
          color: white;
          text-decoration: none;
          border-bottom: 1px solid #00d1d9;
          
      }
      
      a:hover {
          
          color: #00d1d9;
          
      }
      
